body {
    font-family:"Open Sans", sans-serif;
    background: #f1f5f8;
    color: #102a42;
    line-height: 1.5;
    font-size: 0.875rem;
  }

/*
=============== 
Counter
===============
*/

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}